<div class="main_header">
  <div class="main_header_btn">
    <div class="main_header_left">
      <div class="main_header_chat_name">
        chat_name
      </div>
    </div>
    <div class="main_header_right">
      <div class="main_header_chat_btn">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
</div>
<div class="main_main">
  <div class="main_main_messages">
    <div class="main_main_name_time">
      <div class="main_main_name">
        OK
      </div>
      <div class="main_main_time">
        2020/10/09
      </div>
    </div>
    <div class="main_main_message">
      おはよう
    </div>
  </div>
  <div class="main_main_messages">
    <div class="main_main_name_time">
      <div class="main_main_name">
        Tom
      </div>
      <div class="main_main_time">
        2020/10/09
      </div>
    </div>
    <div class="main_main_message">
      おはよう
    </div>
  </div>
</div>
<div class="main_footer">
  <form class="main_footer_contact-form">
    <div class=main_footer_input>
      <input type="text" placeholder="type a message" class="main_footer_name_form">
      <label class="main_footer_form-image">
        <span class="main_footer_image_file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="main_footer_send">
  </form>
</div>