<div class="main_main_messages">
  <div class="main_main_name_time">
    <div class="main_main_name">
      <%= message.user.username %>
    </div>
    <div class="main_main_time">
      <%= message.created_at %>
    </div>
  </div>
  <div class="main_main_message">
    <%= message.content %>
  </div>
</div>