<div class="side_bar_header">
  <div class="side_bar_btn">
    <div class="user_name">
      <a href="#">user_name</a>
    </div>
    <div class="chat_btn">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
</div>
<div class="side_bar_main">
  <div class="side_bar_chat_room">
    <a href="#">ルームテスト１</a>
  </div>
  <div class="side_bar_chat_room">
    <a href="#">ルームテスト2</a>
  </div>
</div>